version "1.2.0"
default-hash-algorithm BLAKE3

patches {
  adios "./patches/adios.patch"
  kservice_fix "./patches/kservice_fix.patch"
  mpv_buffers_fix "https://patch-diff.githubusercontent.com/raw/mpv-player/mpv/pull/17303.patch" // TODO: Remove this and mpv from manifest when mpv 0.42 is released
  mimalloc_update "https://patch-diff.githubusercontent.com/raw/NixOS/nixpkgs/pull/542145.patch" // TODO Remove when merged. To get https://github.com/microsoft/mimalloc/commit/ccac92ef19abf56cc7dbc57dfd28960108ea18ab.
  hyprglass "https://patch-diff.githubusercontent.com/raw/NixOS/nixpkgs/pull/547498.patch" // TODO Remove when merged
  hyprproxlock_tests_fix "./patches/hyprproxlock_fix_tests.patch" // TODO Make a PR to nixpkgs instead once hyprproxlock 0.1.2 is released
}

inputs {
  nixpkgs {
    archive {
      url "https://github.com/NixOS/nixpkgs/archive/{{fresh_value}}.tar.gz"
    }
    hash algorithm=SHA-256
    eval-time fetch
    patches mimalloc_update hyprglass hyprproxlock_tests_fix
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/NixOS/nixpkgs.git" --refs "refs/heads/nixos-unstable"
      | cut -f1
    }
  }

  home-manager {
    archive {
      url "https://github.com/nix-community/home-manager/archive/{{fresh_value}}.tar.gz"
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/nix-community/home-manager.git" --refs "refs/heads/master"
      | cut -f1
    }
  }

  catppuccin {
    archive {
      url "https://github.com/catppuccin/nix/archive/{{fresh_value}}.tar.gz"
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/catppuccin/nix.git" --refs "refs/heads/main"
      | cut -f1
    }
  }

  nix-cachyos-kernel {
    git {
      repository "https://github.com/xddxdd/nix-cachyos-kernel.git"
      branch "master"
    }
  }

  nix-cachyos-settings {
    git {
      repository "https://github.com/Daaboulex/cachyos-settings-nix.git"
      branch "main"
    }
    patches adios
  }

  dolphin-overlay {
    git {
      repository "https://github.com/rumboon/dolphin-overlay.git"
      branch "main"
    }
    patches kservice_fix
  }

  nix-citizen {
    git {
      repository "https://github.com/LovingMelody/nix-citizen.git"
      branch "update"
    }
  }

  nix-gaming {
    git {
      repository "https://github.com/fufexan/nix-gaming.git"
      branch "master"
    }
  }

  flake-compat {
    git {
      repository "https://github.com/NixOS/flake-compat"
      branch "master"
    }
  }

  nix-spicetify {
    git {
      repository "https://github.com/Gerg-L/spicetify-nix.git"
      branch "master"
    }
  }
  spotneotify {
    git {
      repository "https://github.com/0lswitcher/spotneotify.git"
      branch "main"
    }
  }
  nix-amd-ai {
    git {
      repository "https://github.com/noamsto/nix-amd-ai.git"
      branch "main"
    }
  }
  nix-index-database {
    git {
      repository "https://github.com/nix-community/nix-index-database.git"
      branch "main"
    }
  }
  nixcord {
    git {
      repository "https://github.com/FlameFlag/nixcord.git"
      branch "main"
    }
  }
  nix-flatpak {
    git {
      repository "https://github.com/gmodena/nix-flatpak.git"
      branch "main"
    }
  }
  hytale-launcher {
    git {
      repository "https://github.com/JPyke3/hytale-launcher-nix.git"
      branch "main"
    }
  }
  qylock {
    archive {
      url "https://github.com/Darkkal44/qylock/archive/{{fresh_value}}.tar.gz"
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/Darkkal44/qylock.git" --refs "refs/heads/main"
      | cut -f1
    }
  }
  nixvim {
    git {
      repository "https://github.com/nix-community/nixvim.git"
      branch "main"
    }
  }
  ableton-linux {
    git {
      repository "https://github.com/Version33/ableton-linux.git" // TODO Switch back to https://github.com/shibco/ableton-linux.git when https://github.com/shibco/ableton-linux/pull/27 is merged
      branch "main"
    }
  }

  // Packages
  mpv {
    archive {
      url "https://github.com/mpv-player/mpv/archive/refs/tags/v0.41.0.tar.gz"
    }
    patches mpv_buffers_fix
  }
  low_latency_layer-git {
    git {
      repository "https://github.com/Korthos-Software/low_latency_layer.git"
      branch "main"
    }
  }
  lsfg-vk-git {
    git {
      repository "https://github.com/PancakeTAS/lsfg-vk.git"
      branch "develop"
    }
  }
  hyprproxlock-git {
    git {
      repository "https://github.com/Da4ndo/hyprproxlock.git"
      branch "main"
    }
  }
  ableton frozen=#true { // I have to update the version number manually
    file {
      url "https://cdn-downloads.ableton.com/channels/12.4.3/ableton_live_lite_12.4.3_64.zip"
    }
  }

  // Other patches
  nct6687d-patch { // TODO: Remove this when the package gets updated
    file { url "https://patch-diff.githubusercontent.com/raw/Fred78290/nct6687d/pull/186.patch"; }
  }

  // Others
  catppuccin-godot {
    file {
      url "https://raw.githubusercontent.com/catppuccin/godot/{{fresh_value}}/themes/Catppuccin%20Mocha.tet"
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/catppuccin/godot.git" --refs "refs/heads/main"
      | cut -f1
    }
  }
  catppuccin-ableton {
    file {
      url "https://raw.githubusercontent.com/sliipkat/ableton-live/{{fresh_value}}/themes/Catppuccin%20Mocha.ask";
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/sliipkat/ableton-live.git" --refs "refs/heads/main"
      | cut -f1
    }
  }
}
