version "1.2.0"
default-hash-algorithm BLAKE3

patches {
  adios "./patches/adios.patch"
  kservice_fix "./patches/kservice_fix.patch"
  mpv_buffers_fix "https://patch-diff.githubusercontent.com/raw/mpv-player/mpv/pull/17303.patch" // TODO: Remove this and mpv from manifest when mpv 0.42 is released
  qylock_flake_compat "https://patch-diff.githubusercontent.com/raw/Darkkal44/qylock/pull/81.patch" // TODO Remove when merged
}

inputs {
  nixpkgs {
    archive {
      url "https://github.com/NixOS/nixpkgs/archive/{{fresh_value}}.tar.gz"
    }
    hash algorithm=SHA-256
    eval-time fetch
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/NixOS/nixpkgs.git" --refs "refs/heads/nixos-unstable"
      | cut -f1
    }
  }

  home-manager {
    archive {
      url "https://github.com/nix-community/home-manager/archive/{{fresh_value}}.tar.gz"
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/nix-community/home-manager.git" --refs "refs/heads/master"
      | cut -f1
    }
  }

  catppuccin {
    archive {
      url "https://github.com/catppuccin/nix/archive/{{fresh_value}}.tar.gz"
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/catppuccin/nix.git" --refs "refs/heads/main"
      | cut -f1
    }
  }

  nix-cachyos-kernel {
    git {
      repository "https://github.com/xddxdd/nix-cachyos-kernel.git"
      branch "release"
    }
  }

  nix-cachyos-settings {
    git {
      repository "https://github.com/Daaboulex/cachyos-settings-nix.git"
      branch "main"
    }
    patches adios
  }

  dolphin-overlay {
    git {
      repository "https://github.com/rumboon/dolphin-overlay.git"
      branch "main"
    }
    patches kservice_fix
  }

  nix-citizen {
    git {
      repository "https://github.com/LovingMelody/nix-citizen.git"
      branch "main"
    }
  }

  nix-gaming {
    git {
      repository "https://github.com/fufexan/nix-gaming.git"
      branch "master"
    }
  }

  nix-spicetify {
    git {
      repository "https://github.com/Gerg-L/spicetify-nix.git"
      branch "master"
    }
  }
  spotneotify {
    git {
      repository "https://github.com/0lswitcher/spotneotify.git"
      branch "main"
    }
  }
  nix-amd-ai {
    git {
      repository "https://github.com/noamsto/nix-amd-ai.git"
      branch "main"
    }
  }
  nix-index-database {
    git {
      repository "https://github.com/nix-community/nix-index-database.git"
      branch "main"
    }
  }
  nixcord {
    git {
      repository "https://github.com/FlameFlag/nixcord.git"
      branch "main"
    }
  }
  nix-flatpak {
    git {
      repository "https://github.com/gmodena/nix-flatpak.git"
      branch "main"
    }
  }
  hytale-launcher {
    file {
      url "https://web.archive.org/web/{{fresh_value}}/https://launcher.hytale.com/builds/release/linux/amd64/hytale-launcher-latest.flatpak"
    }
    hash algorithm=SHA-256
    fresh-cmd {
      $ curl -s "https://archive.org/wayback/available?url=https://launcher.hytale.com/builds/release/linux/amd64/hytale-launcher-latest.flatpak"
      | jq -r ".archived_snapshots.closest.timestamp"
    }
  }
  qylock {
    archive {
      url "https://github.com/Darkkal44/qylock/archive/{{fresh_value}}.tar.gz"
    }
    patches qylock_flake_compat
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/Darkkal44/qylock.git" --refs "refs/heads/main"
      | cut -f1
    }
  }
  nixvim {
    git {
      repository "https://github.com/nix-community/nixvim.git"
      branch "main"
    }
  }

  // Packages
  ani-cli-git {
    git {
      repository "https://github.com/pystardust/ani-cli.git"
      branch "fix" // TODO Switch back to master branch when merged
    }
  }
  mpv {
    archive {
      url "https://github.com/mpv-player/mpv/archive/refs/tags/v0.41.0.tar.gz"
    }
    patches mpv_buffers_fix
  }
  mpv-discord-git { // mpv-discord-resurrected
    git {
      repository "https://github.com/clari7744/mpv-discord.git"
      branch "main"
    }
  }
  mesa-git {
    archive {
      url "https://gitlab.freedesktop.org/mesa/mesa/-/archive/{{fresh_value}}/mesa-{{fresh_value}}.tar.gz"
    }
    // This uses the last commit of last month
    fresh-cmd {
      $ curl -s "https://gitlab.freedesktop.org/api/v4/projects/mesa%2Fmesa/repository/commits" \
      -G --data-urlencode "ref_name=main" \
      --data-urlencode "until=$(date -d \"$(date +%Y-%m-01)\" +%Y-%m-%dT%H:%M:%S%z)" \
      --data-urlencode "per_page=1"
      | jq -r ".[0].id"
    }
  }
  low_latency_layer-git {
    git {
      repository "https://github.com/Korthos-Software/low_latency_layer.git"
      branch "main"
    }
  }
  lsfg-vk-git {
    git {
      repository "https://github.com/PancakeTAS/lsfg-vk.git"
      branch "develop"
    }
  }
  hypr-darkwindow { // TODO: Remove this when the package hash is fixed
    archive {
      url "https://github.com/micha4w/Hypr-DarkWindow/archive/refs/tags/v0.55.4.tar.gz"
    }
  }
  scx_rustscheds-git {
    git {
      repository "https://github.com/sched-ext/scx.git"
      branch "main"
    }
  }

  // Other patches
  nct6687d-patch { // TODO: Remove this when the package gets updated
    file { url "https://patch-diff.githubusercontent.com/raw/Fred78290/nct6687d/pull/186.patch"; }
  }

  // Others
  catppuccin-godot {
    file {
      url "https://raw.githubusercontent.com/catppuccin/godot/{{fresh_value}}/themes/Catppuccin%20Mocha.tet"
    }
    fresh-cmd {
      $ git ls-remote --branches "https://github.com/catppuccin/godot.git" --refs "refs/heads/main"
      | cut -f1
    }
  }
}
